{% assign smallest = resized | sort: 'width' | first %}

<p class="responsive-image">
    <img class="responsive-image__placeholder" src="/{{ smallest.path }}" alt="{{alt}}">
    <div class="responsive-image__delayed" data-src="/assets/img/resized/{width}/{{ original.basename }}"
        data-alt="{{alt}}">
    </div>
    <em>{{ alt }}</em>
</p>

<script>
    new Imager('.responsive-image__delayed', {
        availableWidths: [{{ resized | map: 'width' | join: ', ' }}],
        onImagesReplaced: function() {
            $('.responsive-image__placeholder').hide();

        }
    });
</script>
